body {
    background-color: rgb(172, 200, 252);
    height: auto;
    width: auto;
}
.container {
background-color: rgb(129, 129, 255);
text-align: center;
padding: 21.5%;
height: 0 auto;
width: 0 auto;
display: block;
}
.hide {
    display: none;
}
.show {
    display: block;
}
h1 {
    text-align: center;
}
p {
   padding: 0 10% ;
}

#startGame {
    display: block;
    margin: 0 auto;
}
#highScores {
    display: block;
    margin: 0 auto;
}
.styleButton {
    width: 500px;
}
.mainButton {
    width: 100px;
}